.toasts {
  @apply flex items-center  py-2 px-3 shadow-sm rounded mx-auto mb-2 fixed  inset-x-0 z-50 w-fit;
  transition: top ease-in-out 0.3s;
}

.success {
  @apply bg-success;
}

.info {
  @apply bg-info;
}

.warning {
  @apply bg-orange-400;
}

.danger {
  @apply bg-danger;
}

.showToast {
  @apply top-4;
  transition: top ease-in-out 0.3s;
  animation: slideIn 0.2s ease-in  1;
}

@keyframes slideIn {
  from {
    top: -50px;
  }
  to {
    @apply top-4;
  }
}
